.thumbnail {
  width: 100%;
}

.thumbnail-text {
  position: relative;
}

.time {
  position: absolute;
  bottom: 10px;
  background-color: black;
  color: white;
  margin-left: 5px;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 3px;
  border-radius: 5px;
}

.thumbnail-row {
  width: 100%;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.video-title {
  font-weight: 600;
  line-height: 22px;
  font-size: 14px;
}

.grid-video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author,
.video-stats {
  color: rgb(92, 90, 90);
  font-size: 12px;
  line-height: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-left: 80px;
}

@media (max-width: 1300px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 980px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
